body {
		font-family: 'Lato';
		padding-top: 70px;
}

.panelColor
{
	background-color: #004d40!important;
	color: white!important;
	text-align: center;
}
.panel-info{
    border: 1px solid #004d40!important;
}
hr{
	border: 1px solid #004d40!important;
}
.logo{

	width: 100px
}
